services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    env_file:
      - .env
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
      - DATABASE_URL=postgres://postgres:postgres@db:5432/negare
    ports:
      - '3000:3000'
      - '9229:9229'
    volumes:
      - .:/app:delegated
      - /app/node_modules
    depends_on:
      - db
      - redis
    command: npx nodemon --exec "nest start --watch" --signal SIGTERM

  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: negare
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
volumes:
  pgdata:
